html, body { width: 100%;
	    height: 100%;
	    padding: 0;
	    border: 0;
	    margin: 0;			
}

.viewbuttons {
    float:left;
    clear: both;
}

.x3domContainer {
    float: left;
    clear: both;
}

/*for colorCoding tables*/
.stateTableFalse {
    color: red;
}
.stateTableTrue {
    color: forestgreen;
}

#borderContainer { width: 100%;
		height: 100%;
                overflow: visible;}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
	    padding:0;
	    margin:0;
	    position:relative;
	    top:0; left:0;
	    width:100%; height:100%;
	    z-index:999;
	    vertical-align:middle;
	    background:#ededed;
}
#loaderInner {
	    padding:5px;
	    position:relative;
	    left:0;
	    top:0;
	    width:175px;
	    background:#3c3;
	    color:#fff;
}

#x3dElement {
    background:#000 url(http://www.x3dom.org/x3dom/example/texture/solarSystem/starsbg.png);
}
